body {
	height:100%;
	padding:0px;
	margin:0px;
	background:url("../images/back.jpg") left top repeat-x #ebebeb;
	font-family:Arial;
	text-align:center;
}
img {
	border:none;
}
#ContenedorPrincipal {
	width:970px;
	height:1200px;
	margin:auto;
}
#ContenedorPrincipalC {
	width:970px;
	height:1287px;
	margin:auto;
}
#ContenedorIzq{
	float:left;
	width:194px;
	height:inherit;
	background:url("../images/BackSha.png") right repeat-y;
}
/* ^ Hijo */#logo{
				width:108px;
				height:140px;
				background:url("../images/Logo.png") center;
				float:left;
			}
			#rell1{
				width:86px;
				height:140px;
				float:left;
			}
			#Secciones{
				width:inherit;
				height:auto;
				float:left;
				text-align:left;
			}
			#Secciones h1{
				margin:20px 0px 0px 5px;
				font-family:Arial;
				font-size:20px;
				font-weight:bold;
			}
			.Categorias{
				display:block;
				float:left;
				width:180px;
				font-family:Arial;
				font-size:12px;
				margin:0px 0px 0px 5px;
				padding:10px 0px 10px 0px;
				border-bottom:2px dotted #666666;
			}
			.Publicidad{
				float:left;
				width:inherit;
				margin-top:10px;
			}
			.Publicidad a{
				margin:auto;
				float:left;
				margin-top:20px;
			}
			.Publicidad img{
				margin:auto;
				float:left;
				border:none;
			}
			#Copy {
				float:left;
				margin:auto;
			}
			#CopyC {
				float:left;
				margin:auto;
				position:relative;
				top:200px;
			}
			#Copy p{
				text-align:right;
				margin: 100px 0px 0px 20px;
				color:#666666;
				font-size:10px;
				font-weight:bold;
			}
			#CopyC p{
				text-align:right;
				margin: 0px 0px 0px 20px;
				color:#666666;
				font-size:10px;
				font-weight:bold;
			}
#ContenedorDer{
	width:776px;
	height:inherit;
	float:right;
}
/* ^ Hijo */#Arriba{
				width:inherit;
				height:27px;	
			}
			/* ^ Hijo */#siguenos{
							width:84px;
							margin-right:10px;
							float:left;
							font-size:12px;
							font-weight:bold;
							font-family:arial;
							color:white;
							text-align:right;
						}
						#siguenos p{
							margin:5px 0px 0px 0px;
						}
						#twi{
							float:left;
						}
						#fb{
							float:left;
						}
						#Buscar{
							float:right;
							height:inherit;
							font-size:12px;
						}
						#Buscar textarea{
							margin:3px 10px 0px 0px;
							height:13px;
							width:330px;
						}
/* ^ Hijo */#Menu{
				width:inherit;
				height:60px;	
			}
			#Menu a{
				display:block;
				width:86px;
				height:37px;
				float:left;
			}
			#Menu a:hover{
				color:#f8c139;
				height:37px;
				background:url("../images/ind.png") bottom center no-repeat;
			}
			.MenuP{
				font-size:15px;
				margin-top:23px;
				color:white;
				text-decoration:none;
				font-weight:bold;
			}
			
/* ^ Hijo */#ContenidoP{
				width:inherit;
				height:1113px;
				background:white;	
			}
			#ContenidoC{
				width:inherit;
				height:1200px;
				background:white;	
			}
			/* ^ Hijo */#rell2{
							width:inherit;
							height:24px;
							float:left;
							background:white;
						}
						#Destacados{
							background:url("../images/Dest.png") bottom no-repeat;
							width:768px;
							height:342px;
							float:right;
						}
						/* ^ Hijo */#DestIMG{
										width:768px;
										height:342px;
										float:left;
										position:absolute;
										z-index:0;
									}
									#DestIMG .Foto{
										width:632px;
										float:left;
										margin:7px 0px 0px 6px;
									}
									/* ^ Hijo */#MinIMG{
													width:130px;
													margin:7px 0px 0px 0px;
													float:right;
												}
												#MinIMG a img{
													margin:0px 10px 3px 0px;
												}
									#Info{
										width:631px;
										height:64px;
										margin:272px 0px 0px 6px;
										float:left;
										position:relative;
										z-index:1;
										background:url("../images/dot.png") repeat;
									}
									/* ^ Hijo */#Descrip{
													float:left;
													width:auto;
												}
												#Descrip p{
													margin:20px 0px 0px 20px;
													font-size:14px;
													color:white;
													font-weight:bold;
												}
												#Costo{
													float:right;
													width:auto;
												}
												#Costo p{
													float:left;
													display:block;
													margin:20px 5px 0px 0px;
													color:white;
													font-weight:bold;
												}
												#Costo h2{
													float:left;
													display:block;
													margin:15px 10px 0px 0px;
													font-size:30px;
													color:#f4c138;
												}
			/* ^ Hijo */#Recom{
							width:inherit;
							height:72px;
							float:left;
						}
						#RecomC{
							width:inherit;
							height:60px;
							float:left;
						}
						#RecomQ{
							width:inherit;
							float:left;
							color:#333333;
							font-weight:bold;
							font-size:20px;
						}
						.Recom p{
							float:left;
							display:block;
							color:#333333;
							font-weight:bold;
							font-size:20px;
							text-align:left;
							margin:30px 0px 0px 20px;
						}
						#Recom a{
							font-size:12px;
							float:left;
							display:block;
							margin:35px 0px 0px 15px;
						}
						#Recom1{
							width:369px;
							height:523px;
							float:left;
						}
						#Recom1 p{
							float:left;
							display:block;
							color:#333333;
							font-weight:bold;
							font-size:12px;
							text-align:left;
							margin:30px 0px 0px 20px;
						}
						#Recom1 a{
							float:left;
							display:block;
							font-weight:bold;
							font-size:12px;
							text-align:left;
							margin:30px 0px 0px 5px;
						}
						#Recom2{
							width:407px;
							height:523px;
							float:left;
						}
						#Categoria{
							float:left;
							height:inherit;
						}
						#Navegacion{
							float:right;
							height:inherit;
							text-align:right;
							padding-right:15px;
						}
						#Navegacion p{
							float:left;
							display:block;
							color:#333333;
							font-weight:bold;
							font-size:12px;
							text-align:left;
							margin:35px 0px 0px 10px;
						}
						#Navegacion a{
							float:left;
							font-size:12px;
							display:block;
							margin:35px 0px 0px 0px;
							padding:0px 4px 0px 4px;
							border-right: 2px solid #4e4e4e;
						}
						#RecomQ .Titulo{
							width:inherit;
							float:left;
							display:block;
							text-align:left;
							margin:30px 0px 0px 20px;
						}
						#ParraF1{
							margin-top:10px;
							float:left;
							width:inherit;
							height:355px;
							text-align:left;
							color:#333333;
							font-weight:bold;
						}
						#ParraF1 p{
							font-size:12px;
							margin:10px 10px 0px 10px;
							float:left;
						}
						#ParraF1 img{
							margin:10px 10px 0px 10px;
							float:right;
						}
						.Titulo{
							width:inherit;
							float:left;
							display:block;
							color:#333333;
							font-weight:bold;
							font-size:20px;
							text-align:left;
							margin:70px 0px 0px 30px;
						}
						.Precio{
							width:inherit;
							float:left;
							display:block;
							color:#990000;
							font-weight:bold;
							font-size:20px;
							text-align:left;
							margin:5px 0px 0px 30px;
						}
						.Cont{
							float:left;
							display:block;
							color:#333333;
							font-weight:bold;
							font-size:12px;
							text-align:left;
							margin:5px 0px 0px 30px;
						}
						#Cont1{
							width:377px;
						}
						#Recom2 form{
							width:377px;
							display:block;
							float:left;
							color:#333333;
							font-weight:bold;
							font-size:12px;
							text-align:left;
							margin:5px 0px 0px 30px;
						}
						#Recom2 textarea{
							float:left;
							display:block;
							font-weight:bold;
							font-size:12px;
							height:12px;
							width:30px;
							text-align:left;
							margin:5px 0px 0px 5px;
						}
						#Carrito{
							width:377px;
							float:left;
							text-align:left;
							margin:20px 0px 0px 30px;
						}
						#Recom3{
							width:342px;
							height:177px;
							float:left;
							margin:75px 0px 0px 30px;
						}
						#Cont2{
							width:312px;
							margin-left:0px;
						}
						#Recom3 a{
							float:left;
							display:block;
							margin:35px 0px 0px 0px;
						}
						#FotoProd{
							float:left;
							height:411px;
							width:349px;
							margin:20px 0px 0px 20px;
						}
						#Galeria1{
							width:inherit;
						}
						.LineasF{
							height:279px;
							width:inherit;
							float:left;
						}
						.Productos{
							width:194px;
							height:inherit;
							float:left;
						}
						.FotosP{
							width:178px;
							height:211px;
							margin:10px auto auto auto;
						}
						.Descrip{
							width:178px;
							height:58px;
							margin:auto;
							background:white;
							text-align:left;
						}
						.Descrip p{
							margin:5px 0px 0px 5px;
							float:left;
							color:#333333;
							font-size:14px;
							font-weight:bold;
						}
						.Descrip a{
							float:left;
							font-size:12px;
							margin:5px 0px 0px 5px;
						}
						#rell3{
							width:600px;
							height:4px;
							background:#ebebeb;
							margin-left:88px;
							float:left;
						}
